<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQAlMThj3xemgmEcjaAWB7p2o7OewrNVo</string>
	<key>GCM_SENDER_ID</key>
	<string>204131406772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-b0d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-b0d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204131406772:ios:763b91b79ac9acaf09d8e1</string>
</dict>
</plist>